.sectionTitle {
  margin-bottom: 70px;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10.5px;
}

@media screen and (max-width: 1440px) {
  .cardContainer {
    column-gap: 18px;
  }
}
@media screen and (max-width: 1120px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    align-items: stretch;
  }
  .cardContainer > div {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .sectionTitle {
    margin-bottom: 50px;
  }
  .cardContainer {
    display: none;
  }
}
