.title {
  margin-bottom: 70px;
}
div.whiteBlock {
  padding: 38px 75px;
  margin: 0 0 20px 0;

  align-items: center;
}
.whiteBlock.bottomWB {
  padding: 49.5px 75px;
}
div.noMargin {
  margin: 0;
}
.whiteBlock > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text1 {
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  color: #000;
}

@media screen and (max-width: 1440px) {
  .title {
    margin-bottom: 55px;
  }
  .text1 {
    font-size: 18px;
    line-height: 20px;
  }
  .cashWalletContainer {
    transform: scaleX(0.792) scaleY(0.794);
  }
  .TgBotIconWrapper {
    transform: scaleY(0.785) scaleX(0.79);
  }
  div.whiteBlock {
    padding: 30px 60px;
    margin: 0 0 15.85px 0;
  }
  .whiteBlock.bottomWB {
    padding: 31px 60px;
  }
}
@media screen and (max-width: 768px) {
  .text1 {
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;

    text-align: center;
  }
  .whiteBlockWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* display: flex;
    flex-direction: row; */
  }
  div.whiteBlock {
    width: 350px;
    margin-bottom: 30px;
    padding: 21px;
  }
  .title {
    margin-bottom: 50px;
    width: 100%;
  }
  div.whiteBlock.bottomWB {
    margin-bottom: 0;
    padding: 21px;
  }
  div.whiteBlock > * {
    margin-top: 30px;
  }
  /* div.whiteBlock > *:last-child {
    margin-bottom: 0;
  } */
}
