.container {
  max-width: 1520px;
  margin: 0 auto;
}

@media screen and (max-width: 1700px) {
  .container {
    max-width: 1380px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1240px;
    padding: 0 16px;
  }
}
