.container {
  max-width: 1520px;
  margin: 0 auto;
}

@media screen and (max-width: 1700px) {
  .container {
    max-width: 1380px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1240px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 1320px) {
  .container {
    max-width: 1180px;
    padding: 0 16px;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    max-width: 1080px;
    padding: 0 16px;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    max-width: 1020px;
    padding: 0 16px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    max-width: 960px;
    padding: 0 30px;
  }
}
