.mainButton {
  padding: 25px 40px;
  color: #fff;

  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  background-color: var(--mainButton);
  border: 1px solid var(--mainButton);
  outline: none;
  border-radius: 8px;
  cursor: pointer;

  transition: all 0.3s ease;
}
.mainButton:hover {
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

@media screen and (max-width: 1440px) {
  .mainButton {
    padding: 20px 32px;
    font-size: 18px;
    line-height: 28px;
  }
}
