.button {
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 27px 69px;
  color: #000;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;

  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #111111;
  color: #ffffff;
}
