.sliderWrapper {
  position: relative;
  margin-bottom: 146px;
}
.prevIcon {
  transform: rotate(180deg);
}
.more {
  position: absolute;
  bottom: -48px;
  display: flex;
  justify-content: center;
  width: 100%;

  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #3e7a32;
}
.moreInner > span {
  margin-left: 10px;
}
.moreInner {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .more {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .more {
    display: flex;
  }
}
@media screen and (min-width: 769px) {
  .sliderWrapper {
    display: none;
  }
}
