.tabBarItem {
  transform: scaleY(0) translateY(-100%) translateZ(-200%);
  opacity: 0;
  transition: all 0.5s ease;
  /* margin-bottom: -20%;  */
}
.tabBarItem.active {
  transform: scaleY(1) translateY(0) translateZ(0);
  opacity: 1;
  /* margin-bottom: 0;  */
}
@media screen and (max-width: 768px) {
  .navItem {
    font-weight: 400;
    font-size: 19.8175px;
    line-height: 28px;
    padding: 0 0 39px 0;

    margin-bottom: 40px;
  }
  .tabBarItemContainer > p {
    margin-bottom: 40px;
  }
  .tabBarListContainerItem {
    padding-left: 14px;
  }
  .tabBarItemContainer {
    margin-bottom: 40px;
  }
}
