@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('twenty/twentytwenty.css');
@import url('twenty/twentyStyles.css');
/* @import url('./pulse.css'); */
:root {
  --accent-color: #91d783;
  --mainButton: #36692c;
  --dark-green: #35682b;
  --gray: #414141;
  --dark: #131a12;
  --light-gray: #939393;
  --dark2: #181818;
  --gray2: #1f1f1f;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
div.section {
  margin-bottom: 205px;
}
.section.bigMargin {
  margin-bottom: 260px;
}
.section.mediumMargin {
  margin-bottom: 233px;
}
.section.littleMargin {
  margin-bottom: 154px;
}
span.active {
  color: var(--accent-color);
  font-weight: 700;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
@keyframes gradient {
  to {
    background-position: 200% center;
  }
  /* 0% {
    background-position: 0 0;
  }
  100% {
    background-position: 515px 35px;
  } */
}

.colored > * {
  color: linear-gradient(
    90.44deg,
    #36692c -21.63%,
    rgba(166, 246, 150, 0.861638) 31.59%,
    #36692c 117.56%
  );
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-transform: uppercase;
  /* background: linear-gradient(
    90.44deg,
    #36692c -21.63%,
    rgba(166, 246, 150, 0.861638) 31.59%,
    #36692c 117.56%
  ); */
  background: linear-gradient(
    to right,
    #36692c 20%,
    rgba(166, 246, 150, 0.861638) 40%,
    #36692c 60%
  );
  background-size: 200% auto;

  background-clip: text;
  -webkit-background-clip: text;

  /* -webkit-text-fill-color: transparent; */
  /* background-size: 100%; */
  animation: gradient 4s ease infinite alternate;
  animation-timing-function: linear;
  animation-direction: alternate;
}
body {
  color: white;
  background: #101010;
  overflow: 'hidden';
}
@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}
@media screen and (max-width: 1440px) {
  div.section {
    margin-bottom: 175px;
  }
  .section.bigMargin {
    margin-bottom: 175px;
  }
  .section.mediumMargin {
    margin-bottom: 154px;
  }
  .section.littleMargin {
    margin-bottom: 136px;
  }
}
@media screen and (max-width: 1240px) {
  div.section {
    margin-bottom: 140px;
  }
  .section.bigMargin {
    margin-bottom: 140px;
  }
  .section.mediumMargin {
    margin-bottom: 121px;
  }
  .section.littleMargin {
    margin-bottom: 106px;
  }
}
