.sectionWrapper {
  position: relative;
  /* overflow-x: auto; */
}

.hatContainer {
  position: absolute;
  width: 100%;
  top: -390px;
  /* left: -48.5px; */
  z-index: 1000;
}
.cardContainer {
  position: absolute;
  z-index: 1000;
  left: 182px;
  top: 225px;
}
@media screen and (max-width: 1440px) {
  .hatContainer {
    /* left: 80px; */
  }
  .cardContainer {
    left: 263px;
    top: 178px;
  }
}
@media screen and (max-width: 768px) {
  .cardContainer {
    left: 24px;
  }
  .hatContainer {
    transform: scaleX(0.43) scaleY(0.4) rotate(-2deg);
    left: -240px;
    top: -330px;
  }
}
@media screen and (max-width: 540px) {
  .hatContainer {
    transform: scaleX(0.3) scaleY(0.4) rotate(-2deg);
    left: -220px;
    top: -330px;
  }
}
@media screen and (max-width: 390px) {
  .hatContainer {
    transform: scaleX(0.25) scaleY(0.4) rotate(-2deg);
    left: -220px;
    top: -330px;
  }
}
