.cardWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin: 10px;

  justify-content: space-between;
  background: #181818;
  border-radius: 36px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cardWrapper:hover {
  background: #1f1f1f;
}
.left {
  padding: 35px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
}
.right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1440px) {
  .left {
    font-size: 16px;
    line-height: 20px;

    padding: 27px;
  }
  .right {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (max-width: 768px) {
  .cardWrapper {
    padding: 16px;

    border-radius: 16.3636px;

    margin: 8px 0;
  }
  .left {
    font-size: 16.071px;
    line-height: 21px;

    margin-right: 10px;
  }
  .right {
    font-size: 12.071px;
    line-height: 11px;
    font-weight: 100;
  }
  .right {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 540px) {
  .cardWrapper {
    padding: 16px;
  }
  .left {
    font-size: 12.071px;
    line-height: 16px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 0;
  }
  .right {
    font-size: 12.071px;
    line-height: 11px;
    font-weight: 100;
  }
}
