.container {
  background-color: #292929;
  border-radius: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .container {
    border-radius: 16.6467px;
  }
  .container > * {
    transform: scale(0.793);
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 54px;
    height: 54px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    width: 43px;
    height: 43px;
  }
}
