.serviceItem {
  width: 33.3333%;
  cursor: pointer;
}
.serviceItemInner {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.textWrapper {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #000;
}
.iconWrapper {
  margin-right: 24px;
}

.border {
  border-right: 1px solid rgba(185, 185, 185, 1);
}

@media screen and (max-width: 1440px) {
  .textWrapper {
    font-size: 16px;
    line-height: 28px;
  }
}
@media screen and (max-width: 768px) {
  .serviceItem {
    width: 100%;
  }
  .serviceItemInner {
    justify-content: flex-start;
    padding: 38px 0;
  }
  .serviceItem:nth-child(1) > .serviceItemInner {
    padding-top: 0;
  }
  .serviceItem:nth-child(3) > .serviceItemInner {
    padding-bottom: 0;
  }
  .border {
    border-right: none;
    border-bottom: 0.792701px solid #b9b9b9;
  }
  .serviceItem:nth-child(1) > .serviceItemInner > .iconWrapper {
    margin-right: 25px;
  }
  .serviceItem:nth-child(2) > .serviceItemInner > .iconWrapper {
    margin-right: 30px;
  }
  .serviceItem:nth-child(3) > .serviceItemInner > .iconWrapper {
    margin-right: 29px;
  }

  div.textWrapper {
    font-weight: 400;
    white-space: nowrap;
    font-size: 20px;
    line-height: 175%;
  }
}
@media screen and (max-width: 391px) {
  div.textWrapper {
    font-size: 16px;
    line-height: 28px;
  }
}
