div.moneyTitle {
  margin-bottom: 44px;
}
.imageContainer {
  width: 443px;
  height: 460px;
  margin-bottom: 25px;
  position: relative;
  right: -30px;
}
.mainText {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #fff;

  margin-bottom: 67px;
}
.mainText > span {
  font-weight: 700;
}
.itemWrapper {
  margin-bottom: 103px;

  display: grid;
  grid-template-columns: 1.8537fr 1fr;
  column-gap: 86px;
}
.additionalText {
  width: 540px;
}
.darkContainerWrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .itemWrapper {
    grid-template-columns: 1.70916fr 1fr;
    column-gap: 66px;
  }
}
