div.moneyTitle {
  margin-bottom: 0;
}
.imageContainer {
  width: 320px;
  height: 320px;
  position: relative;
  margin: 100px 0;
}
.mainText {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #fff;

  margin-bottom: 67px;
}
.mainText > span {
  font-weight: 700;
}
.itemWrapper {
  margin-bottom: 103px;

  display: grid;
  grid-template-columns: 1.8537fr 1fr;
  column-gap: 86px;
}
.additionalText {
  width: 540px;
}
.darkContainerWrapper {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .itemWrapper {
    grid-template-columns: 1.70916fr 1fr;
    column-gap: 66px;
  }
  .imageContainer {
    margin: 80px 0;
  }
}
@media screen and (max-width: 768px) {
  .itemWrapper {
    display: flex;
    flex-direction: column;
  }
  .darkContainerWrapper {
    margin-bottom: 50px;
  }
  .imageContainer {
    transform: scale(0.793);
    margin: 50px 0;
  }
  .titledListWrapper {
    position: relative;
    left: 30px;
  }
}
@media screen and (max-width: 540px) {
  .mainText {
    font-size: 15px;
    line-height: 28px;
  }
}

@media screen and (max-width: 391px) {
  .additionalText {
    font-size: 10px;
    line-height: 16px;
  }
}
