.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;

  margin-bottom: 89px;
}
.mapWrapper {
  margin: 0 62px 107px 62px;
  width: 1390px;
  height: 686px;
  position: relative;
}
.wrapperBlock {
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
}
.financicalDarkContainer,
.titledListContainer {
  width: calc(1520px - 92px / 2);
}
.financicalDarkContainer {
  margin-right: 92px;
  display: flex;
  align-items: center;
}
.additionalText {
  width: 774px;
}

@media screen and (max-width: 1440px) {
  .description {
    margin-bottom: 70px;
  }
  .mapWrapper {
    margin: 0 73px 85px 64px;
    width: 1101px;
    height: 544px;
  }
  .financicalDarkContainer {
    width: 559px;
    margin-right: 73px;
  }
  .titledListContainer {
    width: 590px;
  }
}
