.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;

  margin-bottom: 89px;
}
.mapWrapper {
  margin: 0 0 27px 0;
  position: relative;
  width: 1461px;
  height: 756px;
}
.mapWrappe > svg {
  width: 100%;
  height: 100%;
}
.wrapperBlock {
  display: grid;
  grid-template-columns: 1fr 1.017fr;
  column-gap: 110px;
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 102px;
}
.financicalDarkContainer {
  display: flex;
  align-items: center;
}
.additionalText {
  width: 774px;
}

.plane1,
.plane2,
.plane3,
.plane4,
.plane5 {
  position: absolute;
}

.plane1 {
  transform: rotate(-20deg);
  top: 34%;
  left: 20.3%;
  scale: 0.2;
  animation: plane1 4s linear infinite normal;
}

@keyframes plane1 {
  0% {
    transform: rotate(-20deg);
    top: 34%;
    left: 20.3%;
    scale: 0.2;
  }
  25% {
    top: 26.3%;
    left: 26%;
    scale: 0.8;
    transform: rotate(-18deg);
  }
  50% {
    top: 22.5%;
    left: 34%;
    scale: 1;
    transform: rotate(5deg);
  }
  75% {
    top: 24%;
    left: 40%;
    scale: 0.8;
    transform: rotate(19deg);
  }
  100% {
    top: 30%;
    left: 47.8%;
    scale: 0.2;
    transform: rotate(20deg);
  }
}

@keyframes plane1x1440 {
  0% {
    transform: rotate(-30deg);
    top: 32.8%;
    left: 21.2%;
    scale: 0.2;
  }
  25% {
    top: 25.8%;
    left: 26%;
    scale: 0.6;
    transform: rotate(-23deg);
  }
  50% {
    top: 21.6%;
    left: 34%;
    scale: 0.8;
    transform: rotate(5deg);
  }
  75% {
    top: 22.8%;
    left: 40%;
    scale: 0.6;
    transform: rotate(20deg);
  }
  100% {
    top: 28.8%;
    left: 47.3%;
    scale: 0.2;
    transform: rotate(20deg);
  }
}
.plane2 {
  transform: rotate(-15deg);
  top: 17.1%;
  left: 7.5%;
  scale: 0.6;
  animation: plane2 4s linear infinite normal;
}
@keyframes plane2 {
  0% {
    transform: rotate(-15deg);
    top: 17.1%;
    left: 7.5%;
    scale: 0.6;
  }
  25% {
    transform: rotate(15deg);
    top: 17.1%;
    left: 12%;
    scale: 0.8;
  }
  50% {
    transform: rotate(45deg);
    top: 22%;
    left: 15.65%;
    scale: 1.2;
  }
  75% {
    transform: rotate(60deg);
    top: 28%;
    left: 17.6%;
    scale: 0.8;
  }
  100% {
    transform: rotate(60deg);
    top: 33.7%;
    left: 18.5%;
    scale: 0.6;
  }
}
@keyframes plane2x1440 {
  0% {
    transform: rotate(-15deg);
    top: 16.6%;
    left: 9.3%;
    scale: 0.6;
  }
  25% {
    transform: rotate(15deg);
    top: 16.6%;
    left: 13%;
    scale: 0.8;
  }
  50% {
    transform: rotate(45deg);
    top: 22%;
    left: 17.6%;
    scale: 1.2;
  }
  75% {
    transform: rotate(60deg);
    top: 28%;
    left: 19.1%;
    scale: 0.8;
  }
  100% {
    transform: rotate(80deg);
    top: 33%;
    left: 19.8%;
    scale: 0.6;
  }
}
.plane3 {
  left: 56.6%;
  top: 20.4%;
  transform: rotate(-45deg);
  scale: 0.3;

  animation: plane3 4s linear infinite normal;
}
@keyframes plane3 {
  0% {
    left: 56.6%;
    top: 20.4%;
    transform: rotate(-45deg);
    scale: 0.3;
  }
  25% {
    left: 60.3%;
    top: 23.4%;
    transform: rotate(-15deg);
    scale: 0.65;
  }
  50% {
    left: 62.1%;
    top: 28.4%;
    transform: rotate(13deg);
    scale: 1;
  }
  75% {
    left: 62.8%;
    top: 34.4%;
    transform: rotate(30deg);
    scale: 0.6;
  }
  100% {
    left: 62.3%;
    top: 43.7%;
    transform: rotate(50deg);
    scale: 0.3;
  }
}
@keyframes plane3x1440 {
  0% {
    left: 56%;
    top: 19.6%;
    transform: rotate(-50deg);
    scale: 0.3;
  }
  25% {
    left: 59%;
    top: 22%;
    transform: rotate(-23deg);
    scale: 0.65;
  }
  50% {
    left: 61.1%;
    top: 27.4%;
    transform: rotate(13deg);
    scale: 0.9;
  }
  75% {
    left: 61.8%;
    top: 33.4%;
    transform: rotate(30deg);
    scale: 0.6;
  }
  100% {
    left: 61.5%;
    top: 42.7%;
    transform: rotate(50deg);
    scale: 0.3;
  }
}
@media screen and (max-width: 1700px) {
  .mapWrapper {
    left: -80px;
  }
}

@media screen and (max-width: 1440px) {
  .plane1 {
    transform: rotate(-30deg);
    top: 32.8%;
    left: 21.2%;
    scale: 0.2;
    animation-name: plane1x1440;
  }
  .plane2 {
    transform: rotate(80deg);
    top: 33%;
    left: 19.8%;
    scale: 0.6;

    animation-name: plane2x1440;
  }
  .plane3 {
    left: 61.5%;
    top: 42.7%;
    transform: rotate(50deg);
    scale: 0.3;

    animation-name: plane3x1440;
  }
  .description {
    margin-bottom: 70px;

    font-size: 16px;
    line-height: 28px;
  }
  .mapWrapper {
    /* display: flex;
    justify-content: center; */
    margin: 0 0 50px 0;
    width: 1101px;
    height: 543px;
    left: 30px;
  }

  .mapWrapper > svg {
    /* left: 50px; */
    width: 1101px;
    height: 543px;
  }
  .wrapperBlock {
    /* margin-top: 85px; */
    margin-left: 66px;
    grid-template-columns: 1.03fr 1.1554fr;
    column-gap: 90px;
  }
}
