.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;

  margin-bottom: 89px;
}
.mapWrapper {
  margin: 0 0 27px 0;
  position: relative;
  width: 1461px;
  height: 756px;
}
.mapWrappe > svg {
  width: 100%;
  height: 100%;
}
.wrapperBlock {
  display: grid;
  grid-template-columns: 1fr 1.017fr;
  column-gap: 110px;
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 102px;
}
.financicalDarkContainer {
  display: flex;
  align-items: center;
}
.additionalText {
  width: 774px;
}

.plane1,
.plane2,
.plane3,
.plane4,
.plane5 {
  position: absolute;
}

.plane1 {
  transform: rotate(-20deg);
  top: 34%;
  left: 20.3%;
  scale: 0.2;
  animation: plane1 4s linear infinite normal;
}

@keyframes plane1 {
  0% {
    transform: rotate(-20deg);
    top: 34%;
    left: 20.3%;
    scale: 0.2;
  }
  25% {
    top: 26.3%;
    left: 26%;
    scale: 0.8;
    transform: rotate(-18deg);
  }
  50% {
    top: 22.5%;
    left: 34%;
    scale: 1;
    transform: rotate(5deg);
  }
  75% {
    top: 24%;
    left: 40%;
    scale: 0.8;
    transform: rotate(19deg);
  }
  100% {
    top: 30%;
    left: 47.8%;
    scale: 0.2;
    transform: rotate(20deg);
  }
}

@keyframes plane1x1440 {
  0% {
    transform: rotate(-30deg);
    top: 32.8%;
    left: 21.2%;
    scale: 0.2;
  }
  25% {
    top: 25.8%;
    left: 26%;
    scale: 0.6;
    transform: rotate(-23deg);
  }
  50% {
    top: 21.6%;
    left: 34%;
    scale: 0.8;
    transform: rotate(5deg);
  }
  75% {
    top: 22.8%;
    left: 40%;
    scale: 0.6;
    transform: rotate(20deg);
  }
  100% {
    top: 28.8%;
    left: 47.3%;
    scale: 0.2;
    transform: rotate(20deg);
  }
}
.plane2 {
  transform: rotate(-15deg);
  top: 17.1%;
  left: 7.5%;
  scale: 0.6;
  animation: plane2 3s linear infinite normal;
}
@keyframes plane2 {
  0% {
    transform: rotate(-15deg);
    top: 17.1%;
    left: 7.5%;
    scale: 0.6;
  }
  25% {
    transform: rotate(15deg);
    top: 17.1%;
    left: 12%;
    scale: 0.8;
  }
  50% {
    transform: rotate(45deg);
    top: 22%;
    left: 15.65%;
    scale: 1.2;
  }
  75% {
    transform: rotate(60deg);
    top: 28%;
    left: 17.6%;
    scale: 0.8;
  }
  100% {
    transform: rotate(60deg);
    top: 33.7%;
    left: 18.5%;
    scale: 0.6;
  }
}
@keyframes plane2x1440 {
  0% {
    transform: rotate(-15deg);
    top: 16.6%;
    left: 9.3%;
    scale: 0.6;
  }
  25% {
    transform: rotate(15deg);
    top: 16.6%;
    left: 13%;
    scale: 0.8;
  }
  50% {
    transform: rotate(45deg);
    top: 22%;
    left: 17.6%;
    scale: 1.2;
  }
  75% {
    transform: rotate(60deg);
    top: 28%;
    left: 19.1%;
    scale: 0.8;
  }
  100% {
    transform: rotate(80deg);
    top: 33%;
    left: 19.8%;
    scale: 0.6;
  }
}
.plane3 {
  left: 56.6%;
  top: 20.4%;
  transform: rotate(-45deg);
  scale: 0.3;

  animation: plane3 3.2s linear infinite normal;
  animation-delay: 1s;
}
@keyframes plane3 {
  0% {
    left: 56.6%;
    top: 20.4%;
    transform: rotate(-45deg);
    scale: 0.3;
  }
  25% {
    left: 60.3%;
    top: 23.4%;
    transform: rotate(-15deg);
    scale: 0.65;
  }
  50% {
    left: 62.1%;
    top: 28.4%;
    transform: rotate(13deg);
    scale: 1;
  }
  75% {
    left: 63%;
    top: 34.4%;
    transform: rotate(30deg);
    scale: 0.6;
  }
  100% {
    left: 62.3%;
    top: 43.7%;
    transform: rotate(50deg);
    scale: 0.3;
  }
}
@keyframes plane3x1440 {
  0% {
    left: 56%;
    top: 19.6%;
    transform: rotate(-50deg);
    scale: 0.3;
  }
  25% {
    left: 59%;
    top: 22%;
    transform: rotate(-23deg);
    scale: 0.65;
  }
  50% {
    left: 61.1%;
    top: 27.4%;
    transform: rotate(13deg);
    scale: 0.9;
  }
  75% {
    left: 61.8%;
    top: 33.4%;
    transform: rotate(30deg);
    scale: 0.6;
  }
  100% {
    left: 61.5%;
    top: 42.7%;
    transform: rotate(50deg);
    scale: 0.3;
  }
}

.plane4 {
  left: 58.5%;
  top: 23%;
  transform: rotate(-90deg);
  scale: 0.5;

  animation: plane4 3.6s linear infinite normal;
  animation-delay: 2s;
}
@keyframes plane4 {
  0% {
    left: 58.5%;
    top: 23%;
    transform: rotate(-90deg);
    scale: 0.5;
  }
  25% {
    left: 64.3%;
    top: 21.5%;
    transform: rotate(-60deg);
    scale: 0.85;
  }
  50% {
    left: 68.6%;
    top: 24.6%;
    transform: rotate(-35deg);
    scale: 1.2;
  }
  75% {
    left: 71.8%;
    top: 29.6%;
    transform: rotate(-15deg);
    scale: 0.85;
  }
  100% {
    left: 74.3%;
    top: 38%;
    transform: rotate(0deg);
    scale: 0.5;
  }
}
@keyframes plane4x1440 {
  0% {
    left: 58%;
    top: 22.5%;
    transform: rotate(-90deg);
    scale: 0.5;
  }
  25% {
    left: 63%;
    top: 21%;
    transform: rotate(-60deg);
    scale: 0.85;
  }
  50% {
    left: 67.8%;
    top: 24.2%;
    transform: rotate(-35deg);
    scale: 1;
  }
  75% {
    left: 70.8%;
    top: 29.3%;
    transform: rotate(-12deg);
    scale: 0.85;
  }
  100% {
    left: 72.95%;
    top: 37.2%;
    transform: rotate(0deg);
    scale: 0.5;
  }
}
.plane5 {
  left: 58.2%;
  top: 24.3%;
  transform: rotate(-45deg);
  scale: 0.2;

  animation: plane5 4s linear infinite normal;
  animation-delay: 2s;
}
@keyframes plane5 {
  0% {
    left: 58.2%;
    top: 24.3%;
    transform: rotate(-45deg);
    scale: 0.2;
  }
  25% {
    left: 67.45%;
    top: 16%;
    transform: rotate(-25deg);
    scale: 0.5;
  }
  50% {
    left: 74.45%;
    top: 14.4%;
    transform: rotate(-8deg);
    scale: 1;
  }
  75% {
    left: 81.45%;
    top: 15.8%;
    transform: rotate(12deg);
    scale: 0.5;
  }
  100% {
    left: 89.7%;
    top: 24.1%;
    transform: rotate(30deg);
    scale: 0.2;
  }
}
@keyframes plane5x1440 {
  0% {
    left: 57.45%;
    top: 23.42%;
    transform: rotate(-35deg);
    scale: 0.2;
  }
  25% {
    left: 66.2%;
    top: 14.9%;
    transform: rotate(-20deg);
    scale: 0.5;
  }
  50% {
    left: 73.45%;
    top: 13.3%;
    transform: rotate(-6deg);
    scale: 0.8;
  }
  75% {
    left: 81.45%;
    top: 16.6%;
    transform: rotate(14deg);
    scale: 0.5;
  }
  100% {
    left: 87.35%;
    top: 23.2%;
    transform: rotate(30deg);
    scale: 0.2;
  }
}

.plane6 {
  position: absolute;
  top: 26.7%;
  left: 46.3%;
  scale: 0.4;
  transform: rotate(-140deg);

  animation: plane6 2s linear infinite normal;
}
@keyframes plane6 {
  0% {
    top: 26.7%;
    left: 46.3%;
    scale: 0.4;
    transform: rotate(-140deg);
  }
  25% {
    top: 24.3%;
    left: 47.15%;
    scale: 0.8;
    transform: rotate(-120deg);
  }
  50% {
    top: 22.6%;
    left: 48.3%;
    scale: 1.2;
    transform: rotate(-90deg);
  }
  75% {
    top: 21.4%;
    left: 50.3%;
    scale: 0.8;
    transform: rotate(-60deg);
  }
  100% {
    top: 22%;
    left: 52.2%;
    scale: 0.4;
    transform: rotate(-40deg);
  }
}

@keyframes plane6x1440 {
  0% {
    top: 25.9%;
    left: 46.3%;
    scale: 0.3;
    transform: rotate(-140deg);
  }
  25% {
    top: 23.7%;
    left: 47.1%;
    scale: 0.6;
    transform: rotate(-120deg);
  }
  50% {
    top: 21.9%;
    left: 48.3%;
    scale: 0.9;
    transform: rotate(-90deg);
  }
  75% {
    top: 20.75%;
    left: 50.3%;
    scale: 0.6;
    transform: rotate(-60deg);
  }
  100% {
    top: 21.6%;
    left: 51.9%;
    scale: 0.3;
    transform: rotate(-30deg);
  }
}

.plane7 {
  position: absolute;
  top: 36%;
  left: 57.15%;
  scale: 0.4;
  transform: rotate(-20deg);

  animation: plane7 2.6s linear infinite normal;
}
@keyframes plane7 {
  0% {
    top: 35.3%;
    left: 46.6%;
    scale: 0.4;
    transform: rotate(-115deg);
  }
  25% {
    top: 32.4%;
    left: 49%;
    scale: 0.8;
    transform: rotate(-90deg);
  }
  50% {
    top: 31.5%;
    left: 51.8%;
    scale: 1.3;
    transform: rotate(-60deg);
  }
  75% {
    top: 32.3%;
    left: 54.5%;
    scale: 0.8;
    transform: rotate(-40deg);
  }
  100% {
    top: 36%;
    left: 57.15%;
    scale: 0.4;
    transform: rotate(-20deg);
  }
}

@keyframes plane7x1440 {
  0% {
    position: absolute;
    top: 34.7%;
    left: 46.6%;
    scale: 0.3;
    transform: rotate(-120deg);
  }
  25% {
    position: absolute;
    top: 31.1%;
    left: 49.6%;
    scale: 0.7;
    transform: rotate(-80deg);
  }
  50% {
    position: absolute;
    top: 30.9%;
    left: 52.1%;
    scale: 1.2;
    transform: rotate(-60deg);
  }
  75% {
    position: absolute;
    top: 32.2%;
    left: 54.5%;
    scale: 0.7;
    transform: rotate(-40deg);
  }
  100% {
    position: absolute;
    top: 35.5%;
    left: 56.7%;
    scale: 0.3;
    transform: rotate(-20deg);
  }
}
@media screen and (max-width: 1700px) {
  .mapWrapper {
    left: -80px;
  }
}

@media screen and (max-width: 1440px) {
  .plane1 {
    transform: rotate(-30deg);
    top: 32.8%;
    left: 21.2%;
    scale: 0.2;
    animation-name: plane1x1440;
  }
  .plane2 {
    transform: rotate(80deg);
    top: 33%;
    left: 19.8%;
    scale: 0.6;

    animation-name: plane2x1440;
  }
  .plane3 {
    left: 61.5%;
    top: 42.7%;
    transform: rotate(50deg);
    scale: 0.3;

    animation-name: plane3x1440;
  }
  .plane4 {
    left: 72.95%;
    top: 37.2%;
    transform: rotate(0deg);
    scale: 0.5;

    animation-name: plane4x1440;
  }
  .plane5 {
    left: 57.45%;
    top: 23.42%;
    transform: rotate(-35deg);
    scale: 0.2;

    animation-name: plane5x1440;
  }
  .plane6 {
    top: 25.9%;
    left: 46.3%;
    scale: 0.3;
    transform: rotate(-140deg);

    animation-name: plane6x1440;
  }
  .plane7 {
    position: absolute;
    top: 34.7%;
    left: 46.6%;
    scale: 0.3;
    transform: rotate(-120deg);

    animation-name: plane7x1440;
  }
  .description {
    margin-bottom: 70px;

    font-size: 16px;
    line-height: 28px;
  }
  .mapWrapper {
    /* display: flex;
    justify-content: center; */
    margin: 0 0 50px 0;
    width: 1101px;
    height: 543px;
    left: 30px;
  }

  .mapWrapper > svg {
    /* left: 50px; */
    width: 1101px;
    height: 543px;
  }
  .wrapperBlock {
    /* margin-top: 85px; */
    margin-left: 66px;
    grid-template-columns: 1.03fr 1.1554fr;
    column-gap: 90px;
  }
}
