div.header {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 1000;
  position: relative;
}

@media screen and (max-width: 1440px) {
  div.header {
    margin-top: 78px;
  }
}
