.aboutUsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imageContainer {
  position: relative;
  width: 446px;
  height: 353px;
  min-width: 446px;
  flex-shrink: 1;
  flex-grow: 1;

  margin-right: 50px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textContainer > p {
  text-align: right;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
@media screen and (max-width: 1440px) {
  .imageContainer {
    width: 353px;
    min-width: 353px;
    height: 280px;
  }
  .textContainer > p {
    font-size: 16px;
    line-height: 27.74px;
  }
}
@media screen and (max-width: 1240px) {
  .textContainer > p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .aboutUsSection {
    flex-direction: column;
    align-items: center;
  }
  .textContainer > p {
    text-align: center;
  }
  .imageContainer {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 768px) {
  .imageContainer {
    width: 446px;
    height: 353px;
  }
  .textContainer > p {
    text-align: left;
    font-size: 22px;
    line-height: 175%;

    margin-bottom: 40px;
  }
  .textContainer > p:first-child {
    text-transform: uppercase;
  }
}
@media screen and (max-width: 391px) {
  .textContainer > p {
    font-size: 16px;
    line-height: 28px;
  }
}
